# Hw 1: Introduction To Python üêç

Name:

Student ID:

## Instructions

For this homework, work through **Lab 0 (Intorduction to Python)** first. Most of the things we ask you to do in this homework are explained in the lab. Note that Lab 0 covers more content than we ask you to provide for this homework, so make sure you actually work through the entire notebook!

### Submission instructions
* Submit this python notebook including your answers in the code cells as homework submission.
* **Do not change the number of cells!** Your submission notebook should have exactly one code cell per problem. 
* Do **not** remove the `# your code here` line and add you solution after that line.

## Problem 1 
Get all characters of the following string but the first four without counting its length:

In [68]:
my_string = "This is a really long sting and you have now clue on how long it is!"
# your code here
my_string[4:]

' is a really long sting and you have now clue on how long it is!'

## Problem 2

Get the second to fourth elements of `a_list`.

In [67]:
a_list = [1, 2, 3, 4, 5, 6]
# your code here
a_list[1:4]

[2, 3, 4]

## Problem 3

Create a for loop to print out every even number from in the interval `[1:100]`. Hint: create an appropriate `iterable` first.

In [69]:
# your code here
my_list = range(50)
for i in my_list:
    print(i * 2)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

## Problem 4

Use an appropriate function with a lambda function as its input to find the student with the soonest graduation date.

In [72]:
roster = [
    ['Billy',  50, 2021],
    ['Meghan', 18, 2020],
    ['Jeff',   21, 2019],
    ['Alex',   21, 2021],
    ['Cate',   21, 2020]
]
# your code here
min(roster, key=lambda student: student[2])

['Jeff', 21, 2019]

## Problem 5

Create a three dimensional array of zeros with the first two dimensions being three and the third dimension being two.

In [71]:
import numpy as np
# your code here
np.zeros((3, 3, 2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

## Problem 6

Using a built-in numpy/array function, compute the average of the following array. If you get a `NameError` (name 'np' is not defined), you will have to execute the above cell (Problem 5) to import numpy.

In [73]:
x = np.array([1, 4, 3, 11, 5]) 
# your code here
x.mean()

4.8

## Problem 7
Using the two-diemsional array stored in `R` and an appropriate array function, get the age and graduation year of the person in our roster that will gratuate first.

In [74]:
names = ['Billy','Meghan','Jeff', 'Alex','Cate']
roster = [
    [50, 2021],
    [18, 2020],
    [21, 2019],
    [21, 2021],
    [21, 2020]
]
R = np.array(roster)
# your code here
roster[R.argmin(axis=0)[1]]

[21, 2019]

## Problem 8 
Get the index of the person in our roster `R` that will gratuate first and retrieve their name from the `names` list.

In [64]:
# your code here
names[R.argmin(axis=0)[1]]

'Jeff'